@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);

/* CUSTOM RESETS
================================================== */
a,
button {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  outline: 0 none;
}

a:hover,
a:focus {
  outline: 0 none;
  text-decoration: none;
}
/*header*/
.p-3 {
  background-color: #196fc2;
  padding: 0px !important;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-link.px-2 {
  color: white !important;
}
/* LAYOUT
================================================== */
html,
body {
  width: 100%;

  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* 
 * Background colors 
 */
.blue-bg {
  background-color: #196fc2;
}
/* 
 * Button
 */
.list{
  list-style-type:none; color: black; position: absolute; margin-left:60%;margin-bottom: 10%;
}
.btn {
  font-family: "Varela", sans-serif;
  background-color: #196fc2;
  padding: 0 15px;
  color: #ffffff;
  height: 44px;
  line-height: 42px;
  border-radius: 0;
  border: 1px solid #196fc2;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-inverted {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.btn:hover,
.btn:focus {
  color: #141313;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-inverted:hover,
.btn-inverted:focus {
  color: #ffffff;
  background-color: #196fc2;
  border-color: #196fc2;
}

/* 
 * Rectangle 
 */
.rectangle,
.big-rectangle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 4px 4px 0px 0px #dddddd;
  -o-box-shadow: 4px 4px 0px 0px #dddddd;
  -moz-box-shadow: 4px 4px 0px 0px #dddddd;
  box-shadow: 4px 4px 0px 0px #dddddd;
}

.big-rectangle img {
  height: 200px;
  width: 150px;
}

.rectangle i,
.big-rectangle img,
.rectangle span,
.rectangle img {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 42px;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.big-rectangle {
  position: relative;
  right: auto;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 230px;
  height: 230px;
  background-color: #196fc2;
  border: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-box-shadow: 10px 10px 0px 0px #dddddd;
  -o-box-shadow: 10px 10px 0px 0px #dddddd;
  -moz-box-shadow: 10px 10px 0px 0px #dddddd;
  box-shadow: 10px 10px 0px 0px #dddddd;
}

.medium-rectangle {
  width: 250px;
  height: 250px;
}

.rectangle p {
  font-size: 45;
  font-family: 'Lateef', serif;
}

/**
 * Slick Slider
 */
.slick-slider {
  position: relative;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider.slick-track,
.slick-slider.slick-list {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  overflow: hidden;
}
.slick-list:focus,
.slick-list:hover {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}
.carousel-control.left i,
.review-carousel .slick.rectangle.slick-prev i {
  padding-right: 3px;
}
.carousel-control.right i,
.review-carousel .slick.rectangle.slick-next i {
  padding-left: 3px;
}
/*
 * Social Network
 */
.social-icons.small {
  margin: 50px auto 0;
}
.social-icons.small .rectangle {
  margin: 0 4px;
  width: 30px;
  height: 30px;
  color: #fff;
}
.social-icons.small .rectangle i {
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.social-icons.small .rectangle:hover {
  background-color: #fff;
}
.social-icons.small .rectangle:hover i {
  color: #196fc0;
}
.social-icons .rectangle {
  box-shadow: none;
  display: inline-block;
}
/* Image responsive */
.img-res {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* HERO
================================================== */
.hero {
  background: url(111.jpg) center no-repeat;
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.background-overlay:before {
  content: '';
  background-color: rgba(94, 146, 245, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hero-content h1 {
  width: 100%;
  padding: 0 15px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  
}

.hero-content p {
  padding: 0 15px;
  margin: 30px auto 0;
  text-align: center;
  text-transform: uppercase;

}

.hero-content .hero-job {
  font-size: 18px;
}

.hero-content .hero-job span {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
}

.hero-content .hero-job-desc {
  font-size: 14px;
  max-width: 700px;
}

.hero-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 20px;
  margin: 0 auto;
  text-align: center;
}

.hero-arrow a {
  font-size: 28px;
  color: #ffffff;
}

@-webkit-keyframes home-arrow-down {
  from {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }

  10% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes home-arrow-down {
  from {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }

  10% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
}

.home-arrow-down {
  -moz-animation: home-arrow-down 2s infinite;
  -webkit-animation: home-arrow-down 2s infinite;
  animation: home-arrow-down 2s infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.home-arrow-down:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@media only screen and (max-width: 767px) {

  /* HEADER */
  /* HERO */
  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    margin: 20px auto 0;
  }
}

/* SITEMAIN
================================================== */
.site-main {
  background-color: #ffffff;
  z-index: 1;
}

/*
 * Sections
 */
.site-section {
  padding: 100px 0;
}

.site-section h2 {
  font-family: "Varela", sans-serif;
  margin: 0;
  font-size: 32px;
  color: #196fc2;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Amiri', serif;
  animation: 3s alternate slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.section-subtitle span {
  position: relative;
}

.section-subtitle span:before,
.section-subtitle span:after {
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.section-subtitle span:before {
  left: -30px;
}

.section-subtitle span:after {
  right: -30px;
}

.section-diff-title h2 {
  margin: 0;
  font-weight: 300;
  color: #666;
}

.section-diff-title p {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 60px 0 0;
  font-family: 'Amiri', serif;
}

.section-diff-title p:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 50px;
  background-color: #666;
}

@media only screen and (max-width: 991px) {

  /* Sections */
  .site-section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 767px) {

  /* Sections */
  .site-section {
    padding: 60px 0;
  }

  .site-section h2 {
    font-size: 24px;
    font-family: 'Amiri', serif;
  }

  .section-subtitle span {
    display: inline-block;
    max-width: 230px;
    font-size: 14px;
  }
}

/* Section: Hello */
.section-hello .row {
  margin-top: 70px;
}

.section-hello .col-sm-4 {
  min-width: 35px;
}

.main-service {
  position: relative;
  padding: 35px 0;
  min-height: 180px;
}

.main-service .rectangle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  
}

.main-service.text-right {
  padding-right: 90px;
  font-family: 'Amiri', serif;
}

.main-service.text-left {
  padding-left: 90px;
  font-family: 'Amiri', serif;
  direction: rtl;
}

.main-service.text-left .rectangle {
  right: auto;
  left: 5px;
}

.main-service h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lateef', serif;
}

.main-service p {
  margin: 20px 0 0;
  font-size: 25px;
  font-family: 'Amiri', serif;
  direction: rtl;
  animation: 3s alternate slidein;
}

@media only screen and (max-width: 1199px) {

  /* Section: Hello */
  .main-service {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 991px) {

  /* Section: Hello */
  .big-rectangle {
    height: 170px;
    width: 170px;
  }

  .main-service {
    padding: 20px 0;
  }

  .main-service h3 {
    font-size: 14px;
  }

  .main-service.text-right {
    padding-right: 75px;
  }

  .main-service.text-left {
    padding-left: 75px;
  }
}

@media only screen and (max-width: 767px) {

  /* Section: Hello */
  .section-hello .row {
    margin-top: 30px;
  }

  .section-hello .col-sm-4 {
    min-height: 240px;
  }

  .section-hello .main-service {
    min-height: 100%;
  }

  .section-hello .main-service p {
    margin-top: 15px;
  }
}

/* Section: About */
.section-about .row {
  margin-top: 70px;
}

.section-about .col-sm-3 {
  min-height: 450px;
}

.section-about .rectangle {
  margin: 45px auto 40px;
}

.section-about .btn {
  margin: 30px 0 0;
}

.section-about .rectangle i {
  font-size: 28px;
}

.feature-about img {
  height: 150px;
  width: 200px;
}

.feature-about h3 {
  margin: 50px 0 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Lateef', serif;
}

.feature-about p {
  margin: 30px 0 0;
  font-size: 20px;
  font-family: 'Lateef', serif;
}

@media only screen and (max-width: 767px) {
  .section-about .row {
    margin-top: 30px;
  }

  .section-about .col-xs-6:nth-child(n+3) .feature-about {
    margin-top: 20px;
  }

  .section-about .feature-about h3 {
    margin-top: 30px;
  }

  .section-about .feature-about p {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .section-about .col-xs-6 {
    width: 300%;
    min-height: 300%;
  }

  .section-about .col-xs-6:nth-child(n+2) .feature-about {
    margin-top: 30px;
  }
}

/* Section: Skills */
.section-skills {
  background-color: #f6f6f6;
}

.section-skills h2 {

  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 28px;
  color: #000;
  text-transform: uppercase;
  text-align: right;
}

.section-skills h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 40px;
  height: 1px;
  background-color: #000;
}

@media only screen and (max-width: 767px) {

  /* Section: Skills */
  .section-skills .col-sm-6+.col-sm-6 {
    margin-top: 40px;
  }

  .section-skills h2 {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: right;
  }
}
/*
 * Sections: Background;
 */
.section-background {
  position: relative;
  background-size: cover;
  padding: 150px 0;
  width: 100%;
  text-align: center;
}

.section-background p {
  position: relative;
  margin: 10px 0 0;
  color: #ffffff;
  
}

.section-background .btn {
  position: relative;
  margin-top: 50px;
}

/* Sections background: Quote */
.section-quote {
  background: url(box.jpg) center no-repeat;
}

.section-quote p {
  margin-top: 0;
  font-size: 36px;
}

.section-quote p span {
  color: #196fc2;
}

/* Sections background: Me */
.section-me {
  background: url(1111-01.png) center no-repeat fixed;
}

.section-me h2 {
  margin: 0;
  color: #ffffff;
  position: relative;
}

/* Sections background: Twitter */
.section-twitter {
  background: url(1111-01.png) center no-repeat fixed;
}

.section-twitter .container {
  max-width: 770px;
}

.section-twitter .rectangle {
  margin: 0 auto;
  box-shadow: none;
  display: inline-block;
}

.section-twitter .rectangle i {
  color: #ffffff;
}

.section-twitter .rectangle+p {
  margin-top: 60px;
}

.section-twitter .rectangle+p:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px) {

  /*
     * Sections: Background;
     */
  .section-background {
    padding: 100px 0;
  }

  .section-background .btn {
    margin-top: 30px;
  }

  .section-quote p {
    font-size: 28px;
  }

  .section-twitter .rectangle+p {
    margin-top: 40px;
  }

  .section-twitter .rectangle+p:before {
    top: -20px;
  }
}






/* ===== End contact ===== */



/* Section: Social Networks */
.section-networks {
  padding: 30px 0;
  text-align: center;
}

.section-networks .container {
  max-width: 1060px;
  max-height: 660px;
  align-items: center;
}

.section-networks i {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.section-networks a {
  margin: 10px 8px 8px;
  color: #ffffff;
  box-shadow: none;
  align-items: center;
}

.section-networks a:hover,
.section-networks a:focus {
  background-color: #748eff;
  color: #59afff;
}

.section-networks h5 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f6f6f6;
  padding-top: 15px;
  text-align: center;
  margin: auto;
}

.site-section {
  padding: 100px 0;
}

.site-section h2 {
  font-family: "Varela", sans-serif;
  margin: 0;
  font-size: 32px;
  color: #196fc2;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Amiri', serif;
}

.section-subtitle {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 15px 0 0;
  font-size: 35px;
  line-height: 16px;
  color: #666;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle span {
  position: relative;
}

.section-subtitle span:before,
.section-subtitle span:after {
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.section-subtitle span:before {
  left: -30px;
}

.section-subtitle span:after {
  right: -30px;
}

.section-diff-title h2 {
  margin: 0;
  font-weight: 300;
  color: #666;
}

.section-diff-title p {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 60px 0 0;
}

.section-diff-title p:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 50px;
  background-color: #666;
}

@media only screen and (max-width: 991px) {

  /* Sections */
  .site-section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 767px) {

  /* Sections */
  .site-section {
    padding: 60px 0;
  }

  .site-section h2 {
    font-size: 24px;
  }

  .section-subtitle span {
    display: inline-block;
    max-width: 230px;
    font-size: 14px;
  }
}

/* Section: payment*/
.section-paymet .row {
  margin-top: 70px;
}

.section-paymet .col-sm-3 {
  min-height: 450px;
}

.section-paymet .rectangle {
  height: 230px;
  width: 200px;
  margin: 45px auto 40px;
  border-radius: 44px;
  box-shadow: #666;

}

.paymet img {
  height: 150px;
  width: 130px;
}

.paymet h3 {
  margin: 50px 0 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #004b91;
  font-family: 'Amiri', serif;
}



@media only screen and (max-width: 767px) {
  .section-paymet .row {
    margin-top: 30px;
  }

  .section-paymet .col-xs-6:nth-child(n+3) .paymet {
    margin-top: 20px;
  }

  .section-paymet .paymet h3 {
    margin-top: 30px;
    font-family: 'Amiri', serif;
  }

}

@media only screen and (max-width: 479px) {
  .section-paymet .col-xs-6 {
    width: 300%;
    min-height: 300%;
  }

  .section-paymet .col-xs-6:nth-child(n+2) .paymet {
    margin-top: 30px;
  }
}

/* FOOTER
================================================== */
footer {
  position: relative;
  font-size: 12px;
  width: 100%;
  color: rgb(239, 239, 247);
  direction: rtl;
}

footer p {
  margin: 0
}

#inner-footer {
  width: 100%;
  background-color: #2a3fff;
  padding-bottom: 20px
}

#copyright-container {
  height: 40px;
  width: 100%;
  background-color: #161616
}

#copyright-container p {
  font-size: 14px;
  line-height: 40px;
  vertical-align: baseline;
  margin: 0
}

#footer-menu,
#stay-connected {
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding: 30px 0 0 0
}

#footer-menu .nav {
  margin: 0
}

#footer-menu .nav li {
  padding-bottom: 10px;
  line-height: 20px
}

#footer-menu>.nav>li>a {
  font-size: 12px;
  border-right: 1px solid #ffffff;
  padding: 0 10px;
  background-color: inherit
}

#footer-menu>.nav>li>a:hover {
  text-decoration: underline
}

#footer-menu .nav li a.last {
  border-left: 1px solid #ffffff
}

#footer-menu a {
  color: rgb(250, 243, 243)
}

#footer-container-info {
  padding: 10px 0 10px 0
}

#footer-container-info #address-info p {
  overflow: hidden
}

#footer-container-info i {
  font-size: 18px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  padding: 0 0 0 5px
}

#footer-container-info p {
  display: inline-block;
  vertical-align: top;
  margin: 0
}

#footer-right-side {
  float: left
}

#footer-right-side p {
  margin-bottom: 10px;
  line-height: 20px
}

#footer-social-icons {
  padding: 10px 0 5px 0
}

#footer-social-icons a.social-icon {
  height: 27px;
  width: 27px;
  margin: 0 0 5px 5px
}

#footer-social-icons a.social-icon i {
  font-size: 19px;
  line-height: 27px;
  vertical-align: middle;
  color: #ffffff
}
