.img_target{
position: absolute;
    width:40%;
    height: 60%;
    background-color: white;
opacity: 1;
right: 50%;
}
.ship_type{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ship_card:before{
    opacity: 0.5;
}
.section_target_2{
float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship_card{
    top:1%;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    color: black;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
    border:1px solid #ddd;
    transition:all 0.3s ease;
    border-radius:8px;
    padding:40px;

    margin-bottom:5%;
background-color: white;
}

.ship_card:hover
{
    transform:translateY(-10px);
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.6);
}
.type_img{
    width: 100%;
    height: 100px;
    border-radius:8px;
}
.shipping_txt{
    text-align: center;
    background-color: white;
    width: 100%;height: auto;


}
.ship_card_title{
    font-size: 24px;
    background-color: white;
    padding: 1px 1px 10px 10px;
}

@media only screen and (max-width:750px) {
    .ship_type{
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    .ship_card{
        min-width: 65%;
        min-height: 200px;
    }
    .shipping_txt{
        font-size: 14px;
    }
}

@media only screen and (max-width:450px) {
    .ship_type{
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
    }
    .ship_card{
        min-width: 60%;
    }
}